<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>태지의 게시판 - 내용보기</title>
</head>
<body>
<table>
   <tr>
       <td>이름</td>
       <td>${writer}</td>
       <td>등록일</td>
       <td>${regdate}</td>
   </tr>
   <tr>
       <td>Email</td>
       <td><a href="mailto:<%=strEmail%>"></a></td>
       <td>조회</td>
       <td><%=intCount%></td>
   </tr>
   <tr>
       <td>제목</td>
        <td colspan="3"><%=strSubject%></td>
   </tr>
   <tr>
       <td colspan="4" style="padding:15px;"><%=strContent%></td>
   </tr>
   <tr>
       <td colspan="4" align= "center">
           <a href="edit/edit.asp?seq=<%=intSeq%>">수정하기</a>
           <a href="list.asp">목록으로</a>
           <a href="delete/delete.asp?seq=<%=intSeq%>">삭제하기</a>
       </td>
   </tr>
</table>
</body>
</html>